@model AppData.ViewModels.SanPham.SanPhamRequest

@{
    ViewData["Title"] = "AddSanPham";
}

<h1>Thêm sản phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSanPham" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" autocomplete="off" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" autocomplete="off" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Độ lưu hương</label>
                <input asp-for="TenPhongCach" class="form-control" list="phongCach" autocomplete="off" />
                <datalist id="phongCach"></datalist>
                
            </div>
            <div class="form-group">
                <label class="control-label">Phân loại</label>
                <table id="tbdungtich" style="width:450px">
                    <tbody class="table" id="tbbody">
                        <tr id="mau0">
                            <td style="width:41%">
                                <input name="DungTichs[0].Ten" class="form-control" list="dungTich" id="tenMau0" onchange="changeTenMau(0)" autocomplete="off" />
                            </td>
                            <td style="width:41%">
                                <input name="DungTichs[0].Ma" class="form-control" list="vaiTro" id="maMau0" onchange="changeMaMau(0)" autocomplete="off" />
                            </td>

                            <td style="width:50px">
                                <input type="button" class="form-control" value="-" hidden id="xoamau0" onclick="xoaMau(0)"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="button" class="form-control" value="+" onclick="themDungTich(this)" />
                <datalist id="dungTich"></datalist>
            </div>
            <div class="form-group" id="lstNhomHuong">
                <label class="control-label">Dung tích</label>
                <div class="row" style='width:450px' id="size0">
                    <div class="col-lg-10" style='padding-right:0px'>
                        <input name="NhomHuongs[0]" class="form-control" list="nhomHuong" id="tenkc0" autocomplete="off" />
                    </div>
                    <div class="col-lg-2" style='padding-left:0px'>
                        <input type="button" class="form-control" value="-" hidden id="xoasize0" onclick="xoaSize(0)"/>
                    </div>
                </div>
                <input type="button" class="form-control" value="+" onclick="themNhomHuong(1,this)" />
            </div>
            <datalist id="nhomHuong"></datalist>
            <div class="form-group">
                <label class="control-label">Thương hiệu cha</label>
                <input asp-for="TenLoaiSPCha" class="form-control" list="loaiSPCha" id="ipLoaiSPCha" autocomplete="off"/>
                <datalist id="loaiSPCha"></datalist>
            </div>
            <div class="form-group">
                <label class="control-label">Thương hiệu con</label>
                <input asp-for="TenLoaiSPCon" class="form-control" list="loaiSPCon" autocomplete="off" />
                <datalist id="loaiSPCon"></datalist>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    var countDungTich = 1;
    var lstDungTich = [];
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetLoaiSPCha",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#loaiSPCha').append(rows);
                }
            }
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllDungTich",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    response[i].ma = response[i].ma.toLowerCase();
                    lstDungTich.push(response[i]);
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#dungTich').append(rows);
                }
            }
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllPhongCach",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#phongCach').append(rows);
                }
            }
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllNhomHuong",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#nhomHuong').append(rows);
                }
            }
        });
    });
    $("#ipLoaiSPCha").change(function () {
        var value = $("#ipLoaiSPCha").val();
        $.ajax({
            type: "GET",
            dataType: "json",
            data: { tenLoaiSPCha: value },
            url: "/Admin/GetLoaiSPCon",
            success: function (response) {
                if (response.trangThai == true) {
                    $('#loaiSPCon').empty();
                    for (var i = 0; i < response.ketQua.length; i++) {
                        var rows = "<option value='" + response.ketQua[i].ten + "'>" + response.ketQua[i].ten + "</option>";
                        $('#loaiSPCon').append(rows);
                    }
                }               
            }
        });
    });
    function changeTenMau(count) {
        var tenMau = $("#tenMau" + count).val();
        var maMau = lstDungTich.find(x => x.ten == tenMau).ma;
        document.getElementById("maMau" + count).value = maMau;
    }
    function changeMaMau(count) {
        var maMau = $("#maMau" + count).val();
        var tenMau = "";
        var dungTich = lstDungTich.find(x => x.ma == maMau);
        if (dungTich == null) {
            tenMau = "";
        }
        else {
            tenMau = dungTich.ten;
        }
        document.getElementById("tenMau" + count).value = tenMau;
    }
    function themNhomHuong(count, element) {
        $("#lstNhomHuong").append(`<div class="row" style='width:450px' id="size${count}">
            <div class="col-lg-10" style='padding-right:0px'>
            <input name="NhomHuongs[${count}]" class="form-control" list="nhomHuong" id="tenkc${count}" autocomplete="off" />
            </div>
            <div class="col-lg-2" style='padding-left:0px'>
            <input type="button" class= "form-control" value="-" hidden id="xoasize${count}" onclick="xoaSize(${count})"/>
            </div>
            </div><input type='button' class='form-control' onclick='themNhomHuong(${count + 1},this)' value='+' / > `);
        document.getElementById("xoasize" + (count - 1)).hidden = false;
        element.remove();
    }
    function themDungTich() {
        $("#tbbody").append("<tr id='mau" + countDungTich + "'>" +
            "<td style='width:41%'> <input name='DungTichs[" + countDungTich + "].Ten' class='form-control' list='dungTich' id='tenMau" + countDungTich + "' onchange='changeTenMau(" + countDungTich + ")' autocomplete='off' />" +
            "</td>" +
            "<td style='width: 45.6px'><input name='DungTichs[" + countDungTich + "].Ma' type='text' onchange='changeMaMau(" + countDungTich + ")' class='form-control' id='maMau" + countDungTich + "' style='height: 41.6px;width:100%' /></td>" +
            "<td style='width: 50px'><input type='button' class='form-control' value='-' hidden id='xoamau" + countDungTich + "' onclick='xoaMau(" + countDungTich + ")' /></td>" +
            "</tr>");
        document.getElementById("xoamau" + (countDungTich - 1)).hidden = false;
        countDungTich++;
    }
    function xoaMau(count) {
        document.getElementById("mau"+count).hidden = true;
        document.getElementById("tenMau" + count).value = 'Deleted';
    }
    function xoaSize(count) {
        document.getElementById("size" + count).hidden = true;
        document.getElementById("tenkc" + count).value = 'Deleted';
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
